:root {
    --default-foreground: #343536;
    --default-foreground-50: #34353650;
    --default-foreground-75: #34353675;
    --default-background: #fbf9f6;
    --highlight: #ffda1450;
    --green-highlight: #39ff1450;
    --purple-highlight: #dc14ff50;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    --body-background-size: 32px 32px;
    color: var(--default-foreground);
    background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_18_3)'%3E%3Crect width='32' height='32' fill='%23FBF9F6'/%3E%3Cg filter='url(%23filter0_f_18_3)'%3E%3Cpath d='M-1 16H33M16 -1V33' stroke='%2395D6E5' stroke-opacity='0.5' stroke-linejoin='round'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_18_3' x='-2' y='-2' width='36' height='36' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='0.5' result='effect1_foregroundBlur_18_3'/%3E%3C/filter%3E%3CclipPath id='clip0_18_3'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") var(--body-background-size);
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    /* writing-mode: sideways-lr; */
}

header {
    color: var(--default-foreground);
    padding-block: 0.5em 0.25em;
}

h1 {
    font-size: 44px;
    text-align: center;
    text-shadow: #fc0 1px 0 10px;
}

h3 {
    margin-block-end: 0.25em;
}

a {
    color: var(--default-foreground);
    text-decoration: none;
}

input {
    background: none;
    /* padding-inline: 0.75em; */
    border-block-end: 2px dotted var(--default-foreground);
}

input:focus {
    border: none;
    border-radius: 2em;
    outline-offset: 0.25em;
}

ul,
ol {
    list-style: none;
}

table {
    inline-size: 100%;
    padding-inline: 0.75em;
    margin-block-start: 0.75em;
    border: 2px dashed var(--default-foreground);
    border-radius: 1rem;
}

caption {
    margin-block-end: 0.75em;
}

td {
    font-family: 'Roboto Slab', serif;
}

td,
th {
    padding-block: 0.75em;
}

th[scope=col] {
    /* border-inline-end: 2px dotted var(--default-foreground-75); */
}

tbody > :not(:last-child) :is(td, th) {
    border-block-end: 2px dashed var(--default-foreground);
    border-collapse: collapse;
}

tfoot {
    font-size: 24px;
}

tfoot > :first-child :is(td, th) {
    border-block-start: 2px solid var(--default-foreground);
    border-collapse: collapse;
}

.foreground-faded {
    color: var(--default-foreground-75);
}

.small {
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.end {
    text-align: end;
}

.help {
    cursor: help;
    text-decoration: underline var(--highlight) solid 3px;
}

.flex {
    display: flex;
}

.none {
    display: none;
}

.column {
    flex-direction: column;
}

.center-justify {
    justify-content: center;
}

.center-align {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    --container-width: 90%;
    --container-min-width: 0;
    --container-max-width: 960px;
    inline-size: var(--container-width);
    min-inline-size: var(--container-min-width);
    max-inline-size: var(--container-max-width);
    margin-inline: auto;
}

.navbar {
    padding-block: 0.25em;
}

.navbar-content > :not(:last-child) {
    margin-inline-end: 1.25em;
    padding-inline-end: 1.25em;
    border-inline-end: 2px dotted var(--default-foreground);
}

.navbar-item {
    text-shadow: 1px 0 0 var(--default-background), 0 1px 0 var(--default-background), -1px 0 0 var(--default-background), 0 -1px 0 var(--default-background);
}

.navbar-item a:hover {
    font-weight: bold;
}

.article {
    margin-block: 1rem;
}

.content-box {
    padding-block: 1.25em;
    border: 3px dashed var(--default-foreground-50);
    border-radius: 1.25rem;
}

.content {
    margin-inline: 1.25em;
}

.content ul {
    list-style: disc;
    margin-inline-start: 2em;
}

.content ol {
    list-style: decimal;
    margin-inline-start: 2em;
}

.career-options {
    margin-block-start: 1.5rem;
}

.career-options-list {
    --career-options-list-gap: 0.75em;
    gap: var(--career-options-list-gap);
}

.career-options-list-item {
    --career-options-list-item-columns: 4;
    min-inline-size: calc(calc(100% - calc(var(--career-options-list-gap) * calc(var(--career-options-list-item-columns) - 1))) / var(--career-options-list-item-columns));
    padding-block: 0.8em;
    padding-inline: 0.666em;
    border: 2px dashed var(--default-foreground);
    border-radius: 1rem;
    transition: background 500ms ease-out;
}

.career-options-list-item:hover {
    background: var(--default-background);
    border-style: solid;
    box-shadow: 2px 2px 5px var(--default-foreground);
}

.career-options-list-item:hover .bubble.salary {
    font-weight: bold;
}

.career-options-search {
    margin-block-start: 1.5rem;
    gap: 0.5rem;
    font-size: 32px;
}

.career-options-search img {
    width: 1em;
}

.career-options-search input {
    padding-inline: 0.75em;
    flex: auto;
}

.bubble {
    display: inline-block;
    padding-block: 0.25em;
    padding-inline: 0.5em;
    border-radius: 2em;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    vertical-align: middle;
}

.salary {
    background: var(--green-highlight);
    align-self: flex-start;
}

.deduction-name {
    text-align: start;
}

.total-deductions .deduction-name {
    color: darkred;
}

.deduction-percentage,
.deduction-amount {
    background: var(--purple-highlight);
}

.net {
    background: var(--highlight);
    /* border: 2px solid var(--default-foreground); */
}

.deduction-total {
    text-align: end;
}

.result {
    font-size: 2rem;
    /* line-height: 2rem; */
}

.you {
    margin-block-start: 0.75em;
    gap: 0.75em;
}

.you > * {
    padding-block: 0.5em;
    padding-inline: 0.75em;
    border: 2px dashed var(--default-foreground-75);
    border-radius: 1rem;
}

:is(.your-salary, .your-monthly-salary, .your-monthly-salary-after-deductions) .result {
    font-family: 'Roboto Slab', serif;
}

.before-monthly-salary {
    border: 1px solid var(--default-foreground);
}

.register-entry td {
    padding-inline: 0.25em;
}

.copyright {
    margin-block: 2rem;
}

.copyright .bubble {
    border: 1px dotted var(--default-foreground-50);
}

@media screen and (max-width: 960px) {
    .career-options-list-item {
        min-inline-size: 0;
        inline-size: 100%;
    }
}
