:root {
    --foreground: #343637;
    --background: #fbf9f6;
    --line: #95d6e5;
    --highlight: #ffdc1450;
    --green-highlight: #38ff1450;
    --purple-highlight: #dc14ff50;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scrollbar-color: var(--line) var(--background);
}

html {
    font-size: 24px;
    font-family: 'Indie Flower', cursive;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--foreground);
    background: url("data:image/svg+xml,%3Csvg width='192' height='192' viewBox='0 0 192 192' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_101_2)'%3E%3Cg filter='url(%23filter0_f_101_2)'%3E%3Cpath d='M64 -2V194M96 -2V194M128 -2V194M160 -2V194M192 -2V194M0 -2V194M-2 0H194M-2 64H194M-2 96H194M-2 128H194M-2 160H194M-2 192H194' stroke='%2395D6E5' stroke-opacity='0.4'/%3E%3C/g%3E%3Cg filter='url(%23filter1_f_101_2)'%3E%3Cpath d='M32 -2V194M-2 32H194' stroke='%2395D6E5' stroke-opacity='0.6' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_101_2' x='-3' y='-3' width='198' height='198' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='0.5' result='effect1_foregroundBlur_101_2'/%3E%3C/filter%3E%3Cfilter id='filter1_f_101_2' x='-3' y='-3' width='198' height='198' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='0.5' result='effect1_foregroundBlur_101_2'/%3E%3C/filter%3E%3CclipPath id='clip0_101_2'%3E%3Crect width='192' height='192' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") var(--background);
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

input[type='text'] {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}

.hide {
    display: none !important;
}

.main section > :is(h1, h2, h3, h4, h5, h6, p, ul, ol, hr),
.option-card > :first-child {
    text-shadow: var(--background) 0 0 2px, var(--background) 0 0 4px, var(--background) 0 0 8px, var(--background) 0 0 8px, var(--background) 0 0 8px, var(--background) 0 0 8px, var(--background) 0 0 8px, var(--background) 0 0 8px, var(--background) 0 0 8px, var(--background) 0 0 8px, var(--background) 0 0 8px, var(--background) 0 0 8px, var(--background) 0 0 8px, var(--background) 0 0 8px, var(--background) 0 0 8px, var(--background) 0 0 8px, var(--background) 0 0 8px, var(--background) 0 0 8px;
}

.main h2 {
    margin-block-end: 0.2em;
}

.main a,
.footer a,
.option-no-results {
    color: #2789a0;
    text-decoration: dotted;
}

.main a:visited,
.footer a:visited {
    color: #52a0b3;
}

.main ul {
    list-style-type: disc;
    padding-inline-start: 1em;
}

.main ol {
    list-style-type: decimal;
    padding-inline-start: 1em;
}

.main hr {
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-block: 0.75em 1.25em;
    margin-inline: 0.75em;
}

.header {
    background: linear-gradient(var(--background), var(--background) 50%, transparent);
    padding: 1em 0;
}

.header-container,
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
    max-width: 1080px;
    min-width: 0;
    width: 90%;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    text-shadow: var(--line) 0 0 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-list {
    display: flex;
}

.navbar-list-item:not(:last-child) {
    margin-right: 1em;
    padding-right: 1em;
    border-right: 2px dashed var(--foreground);
}

.navbar-list-item a {
    transition: text-shadow 0.1s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.navbar-list-item a > strong {
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px;
}

.navbar-list-item a:hover {
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
}

.footer {
    font-size: 0.875em;
    background: linear-gradient(transparent, var(--background) 50%, var(--background));
    padding: 3em 0;
}

.footer a:hover {
    text-decoration: underline solid;
    text-shadow: var(--line) 0 0 4px;
}

.footer-container {
    gap: 2em;
}

.year {
    font-family: 'Roboto Slab', serif;
    margin-inline: 0.25em;
    padding-inline: 0.5em;
    padding-block: 0.25em;
    border: 2px dashed rgba(0, 0, 0, 0.1);
    border-radius: 2em;
    vertical-align: middle;
    transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.copy:hover .year {
    border-color: rgba(0, 0, 0, 0.4);
    text-shadow: var(--line) 0 0 8px;
}

.footer-info-list {
    display: flex;
}

.footer-info-list li:not(:last-child) {
    margin-right: 2em;
}

.main-wrapper {
    flex: 1;
    padding: 1em 0;
}

.main {
    max-width: 1080px;
    min-width: 0;
    width: 90%;
    margin: 0 auto;
    border: 2px dashed rgba(0, 0, 0, 0.4);
    border-radius: 1em;
}

.article > * {
    margin-bottom: 1.25em;
    padding: 1.25em 1.25em 0;
}

.article > :not(:first-child) {
    border-top: 2px dashed rgba(0, 0, 0, 0.4);
}

.search-form {
    position: relative;
    font-family: 'Roboto Slab', serif;
    font-size: 0.75em;
}

.search-form-input {
    padding: 0.5em 0.5em 0.5em 2.5em;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 2em;
}

.search-form-input:focus {
    border-color: var(--foreground);
    outline: var(--line) solid 3px;
}

.search-form-input:focus + .search-form-icon > .search-form-icon-path {
    fill: var(--foreground);
}

.search-form-icon {
    position: absolute;
    top: calc(50% - 12px);
    left: 14px;
    pointer-events: none;
}

.search-form-icon-path {
    fill: rgba(0, 0, 0, 0.4);
    fill-rule: evenodd;
    transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.option-card-container {
    --card-columns: 4;
    --card-gap: 0.75em;
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-gap);
}

.option-card {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 0.5em;
    padding: 20px;
    min-width: calc(calc(100% / var(--card-columns)) - calc(calc(calc(var(--card-columns) - 1) * var(--card-gap)) / var(--card-columns)));
    border: 2px dashed var(--foreground);
    border-radius: 0.75em;
    transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.option-card > :first-child {
    font-size: 1.125em;
    transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.option-card-salary {
    color: var(--foreground);
    background: var(--green-highlight);
    font-family: 'Roboto Slab', serif;
    font-size: 0.875em;
    margin-top: auto;
    padding: 0.25em 0.5em;
    border-radius: 2em;
}

.option-card:hover {
    background: var(--background);
    border-style: solid;
    box-shadow: 2px 2px 8px var(--foreground);
}

.option-card:hover > :first-child {
    color: var(--foreground);
}

/* .option-card:hover > .option-card-salary {
    font-weight: bold;
} */

.option-no-results {
    text-align: center;
}
